{% load static %}
    <!-- Footer Starts -->
    <footer class="footer">
        <div class="container">
            <div class="row py-4">
                <div class="col-lg-4 mb-5 text-center text-md-start">
                    <div class="footer-logo-wrapper">
                        <img alt="Hamropatra" class="mb-2"
                            src="{%  static './images/logo/logo1.png' %}">
                        <p class="text-white">Hamropatra | Nepal's First News Organization</p>
                    </div>
                </div>
                <div class="col-lg-3 mt-3 text-center text-md-start">
                    <h4 class="text-white mb-4 font-weight-bold border-bottom pb-2">हाम्रोपत्र संस्थान</h4>

                    <p class="text-white mb-3">
                        <a class="text-white">धर्मपथ, काठमाडौँ, नेपाल</a>
                    </p>
                    <p class="text-white mb-3">
                        <span class="font-weight-bold">अनलाइन प्रकाशन</span> :
                        <a class="text-white">०१-५३२०८३५</a>
                    </p>
                    <p class="text-white mb-3">
                        <span class="font-weight-bold">विज्ञापन शाखा</span> :
                        <a class="text-white">०१-५३२७४९३</a>
                    </p>
                    <p class="text-white mb-3">
                        <span class="font-weight-bold">टोल -फ्री न.</span> :
                        <a class="text-white">१६६०-०१-९४४४४</a>
                    </p>
                    <p class="text-white mb-3">
                        <span class="font-weight-bold">इमेल</span> :
                        <a class="text-white">news.hamropatra@gmail.com hamropatra@gmail.com</a>
                    </p>
                    <p class="text-white mb-3">
                        <span class="font-weight-bold">सूचना तथा प्रशारण विभाग दर्ता</span> :
                        <a class="text-white">१५३८/०७६-७७</a>
                    </p>
                </div>
                <div class="col-lg-2 mt-3 text-center text-md-start">
                    <h4 class="text-white mb-4 font-weight-bold border-bottom pb-2">महत्वपूर्ण लिन्कहरु</h4>
                    <a class="text-white mb-3 d-block" href="" target="_blank">लोकसेवा आयोग</a>
                    <a class="text-white mb-3 d-block" href="" target="_blank">राष्ट्रिय योजना
                        आयोग</a>
                    <a class="text-white mb-3 d-block" href="" target="_blank">सञ्चार तथा सूचना
                        प्रविधि मन्त्रालय</a>
                    <a class="text-white mb-3 d-block" href="" target="_blank">गृह मन्त्रालय</a>
                    <a class="text-white mb-3 d-block" href="" target="_blank">नेपाल सरकार</a>

                    <h4 class="text-white mb-4 font-weight-bold border-bottom pb-2 mt-4">अन्य लिन्कहरु</h4>
                    <a class="text-white mb-3 d-block" href="" target="_blank">Privacy Policy</a>
                    <a class="text-white mb-3 d-block" href="" target="_blank">निर्वाचन नतिजा</a>
                </div>
                <div class="col-lg-3 mt-3 text-center text-md-start footer-social">
                    <h4 class="text-white mb-4 font-weight-bold border-bottom pb-2">हाम्रा अन्य प्रकाशनहरू</h4>
                    <div class="row social-icons">

                        <div class="col-lg-6">
                            <a class="mb-4 text-white d-flex align-items-center justify-content-center justify-content-md-start"
                                href="/">
                                <i class="fa fa-newspaper-o me-2"></i>मुना
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a class="mb-4 text-white d-flex align-items-center justify-content-center justify-content-md-start"
                                href="/">
                                <i class="fa fa-newspaper-o me-2"></i>मधुपर्क
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a class="mb-4 text-white d-flex align-items-center justify-content-center justify-content-md-start"
                                href="/">
                                <i class="fa fa-newspaper-o me-2"></i>युवामञ्च
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a class="mb-4 text-white d-flex align-items-center justify-content-center justify-content-md-start"
                                href="/">
                                <i class="fa fa-newspaper-o me-2"></i>नयाँ नेपाल
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- Footer Bottom -->
        <div class="footer-bottom py-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-white text-center">
                        Copyright ©
                        <script>document.write(new Date().getFullYear().toString())</script>. Hamropatra. All Rights
                        Reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Starts -->
