{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Under Maintenance</title>

    <!-- Stylesheets  -->
    <link rel="stylesheet" href="{% static '/styles/style.css' %}" />


    <!-- Meta Description -->
    <meta name="description" content="Under Maintenance" />
    <meta name="keywords" content="Under Maintenance" />

    <meta property="og:title" content="Under Maintenance" />
    <meta property="og:site_name" content="Under Maintenance" />
    <meta property="og:url" content="https://beautyparlor.com" />
    <meta property="og:description" content="Under Maintenance" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://beautyparlor.com/commons/meta.png" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Under Maintenance" />
    <meta property="twitter:description" content="Under Maintenance" />
</head>

<body>
    <main>
        <div class="under-maintenance-bg">
            <div class="under-maintenance-wrapper">
                <h1 class="under-maintenance-title">Under Maintenance</h1>
                <h2 class="under-maintenance-subtitle">We'll Be Back
                    Soon<span>.</span><span>.</span><span>.</span>
                </h2>
                <p class="under-maintenance-desc">We're busy upgrading with new technology. We apologize for the
                    inconvenience.
                </p>
            </div>
        </div>
    </main>

</body>

</html>
